/*
    Hide vuejs loading on first page load
 */
[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

.page {
    position:relative;
    z-index: 1;
    display: block;
    width: 150px;
    border: 5px solid grey;
    cursor: pointer;
    /*float: left;*/
}

.connection {
    border-width: 15px;
    border-radius: 50px;
}

.childPage {
    border: 5px solid green;
}

.otherLink {
    border: blue;
}

.route_max {
    background: #C8A3A3;
}

.route_aisha {
    background: #B6A3C8;
}

.selected {
    border: blue 5px solid;
}

.child {
    border: green 5px solid;
}

.otherLink {
    border: red 5px solid;
}